<nav class="flex items-center justify-between flex-wrap bg-zinc-800 p-6">
  <div class="flex flex-row gap-8 text-white">
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>
  
  <% if(locals.logged_in_user){ %>
    <%- include('navbar_element_logged_in') %>
  <% } else{ %>
    <%- include('navbar_element_guest') %>
  <% } %>

</nav> 

