<div hx-swap-oob="beforeend:#guesses-list">

  <div class="flex justify-center gap-2 mb-2">
    <% guess.letters.forEach(letter => { %>

      <%- include('./char', { letter }) %>

    <% }) %>
  </div>

</div>
