<h1>Welcome to WorDuel</h1>

<%- include('partials/test_button', { label: 'Ping' }) %>

<button
    hx-post="/game/create"
    hx-swap="none"
    class="bg-green-500 hover:bg-green-700 text-white p-4 rounded">
    
    <span class="htmx-indicator">⌛</span>

    Create and Join Game
</button>

<button
    hx-post="/game/join"
    hx-swap="none"
    class="bg-purple-500 hover:bg-purple-700 text-white p-4 rounded">
    
    <span class="htmx-indicator">⌛</span>

    Join Any Public Game
</button>

