<!DOCTYPE html>
<html lang="en">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/htmx.min.js"></script>
  <link href="/css/style.css" rel="stylesheet">
  <title>WorDuel</title>
</head>

<body class="text-center">
  <h1>Welcome to WorDuel</h1>
</body>

<%- include('partials/test_button', { label: 'Ping' }) %>

</html>
