<!DOCTYPE html>
<html lang="en">  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/htmx.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  <link href="/css/style.css" rel="stylesheet">
  
  <%- defineContent('head') %>
  
  <title>WorDuel</title>
</head>

<body class="text-center flex flex-col w-screen h-screen">
  <%- include('partials/navbar') %>
  <%- body %>
</body>
</html>
