<div class="flex flex-col items-center justify-center h-full">
  <p class="text-center text-6xl font-bold align-middle"> This is not the game you are looking for<br></p>
  <p class="text-center text-2xl align-middle"> This game does not exist, or it has been deleted <br><br></p>
  <div class="h-1/10"></div>
</div>
