<div class="flex min-h-[80vh] w-full items-center justify-center bg-transparent pb-32">

<form
  hx-post="/auth/register"
  hx-swap="innerHTML"
  hx-target="#alert-message"
  class = "mx-auto max-w-md p-y-4 border-2 border-black space-y-4 shadow-[4px_4px_0_0] p-6"
  method="post">
  
  <h2 class="mb-6 text-center text-2xl font-bold">Sign Up</h2>

  <div class="space-y-4">
    <%- include('partials/inputs/username_input') %>
    <%- include('partials/inputs/email_input') %>

    <%- include('partials/inputs/password_input') %>

    <div id="alert-message" class="empty:hidden"></div>

    <%- include('partials/inputs/form_button', { buttonText: "REGISTER" }) %>
  </div>

</form>

</div>

