<label for="Email"> <span class="text-sm font-semibold"> Username </span>
  <input
    type="text"
    placeholder="Username"
    class="mt-0.5 mb-0.5 w-full border-2 border-black py-2 pe-10 pl-3 shadow-[4px_4px_0_0] focus:ring-2 focus:ring-yellow-300 sm:text-sm outline-none transition-all"
    name="username" id="Username"
    required>
</label>
