name: CI - Build and Run Docker Compose

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    name: Build Docker Containers
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          touch .env
          echo "DB_USER=ci_test" >> .env
          echo "DB_PASS=ci_test" >> .env
          echo "DB_NAME=worduel_db" >> .env
          echo "DB_HOST=db" >> .env
          echo "DB_PORT=5432" >> .env
          echo "BACKEND_PORT=3000" >> .env
          echo "FRONTEND_PORT=80" >> .env
          echo "FRONTEND_PORT_SSL=443" >> .env
          echo "ADMINER_PORT=8080" >> .env
          echo "JWT_SECRET=a_very_important_secret" >> .env
          cat .env # Just for CI debugging

      - name: Create certificate
        run: |
          openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
            -keyout .certs/nginx.key -out .certs/nginx.crt \
            -subj "/C=PL/ST=State/L=City/O=Organization/OU=Unit/CN=localhost"

      - name: Build with Docker Compose
        run: docker compose build

      - name: Run Docker Compose
        run: docker compose up -d --build --wait

      - name: Homepage Request (Smoke Test)
        run: |
          curl --fail --insecure \
            --retry 10 --retry-connrefused --retry-delay 5 \
            https://localhost/ || exit 1

      - name: Dump Docker logs on failure
        if: failure()
        run: docker compose logs
